<div class="grid-container--lg">

    <!-- search bar -->
    <div class="grid--md gutter--xs">
        <div class="column--md-11">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <input type="text" id="searchInput" class="form-control" formControlName="param" placeholder="search by employee ID" maxlength="10"/>
                    <p class="help-block">Maximum of 10 characters</p>
                </div>
            </form>

        </div>
        <div class="column--md-1">
            <button type="submit" [disabled]="!searchForm.valid" class="btn btn-block btn-primary">Search</button>
        </div>
    </div>

    <hr class="reduceSpace">

    <!-- results here -->

</div>