
<!-- banner introduction -->
<header class="jumbotron jumbo">
    <div class="grid grid-container--lg">
        <div class="column--12">
            <h1>NTT Skills Portal</h1>
            <span class="h2 sub-heading">Welcome to the search engine of our employee base, where you'll find vast skill-related information.</span>
        </div>
    </div>
</header>

<!-- further content -->
<div class="grid-container--lg">

    <!-- card options -->
    <div class="grid--md">
        <div class="column--md-3">

            <div class="card">
                <h5 class="card-header">Search database</h5>
                <div class="card-body">
                    <hr>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">A comprehensive search engine for researching employee skill-related data.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/search']">Take me there</a>
                    <hr role="separator" class="divider hidden-desktop">
                </div>
              </div>

        </div>
        <div class="column--md-3">
            
            <div class="card">
                <h5 class="card-header">View all</h5>
                <div class="card-body">
                    <hr>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">View all employees in an easy to sort list for your convenience.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/all']">Take me there</a>
                    <hr role="separator" class="divider hidden-desktop">
                </div>
              </div>

        </div>
        <div class="column--md-3">

            <div class="card">
                <h5 class="card-header">Add and Import</h5>
                <div class="card-body">
                    <hr>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">Add a users profile to the database via input or CSV file upload.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/add']">Take me there</a>
                    <hr role="separator" class="divider hidden-desktop">
                </div>
              </div>

        </div>
        <div class="column--md-3">

            <div class="card">
                <h5 class="card-header">Bookmarks</h5>
                <div class="card-body">
                    <hr>
                    <!-- <h5 class="card-title">Special title treatment</h5> -->
                    <p class="card-text">View and edit the users profiles that have been added to the watchlist.</p>
                    <a href="#" class="btn btn-primary" [routerLink]="['/bookmarks']">Take me there</a>
                    <hr role="separator" class="divider hidden-desktop">
                </div>
              </div>

        </div>
    </div>

</div>
