<p>Rating of 1-5 (0 = No Experience)</p>
<form [formGroup]="backendForm" (ngSubmit)="backendSubmit()">
  <div class="grid">
    <!-- First 15 -->
    <div class="column--md-6">
      <div class="form-group">
        <label for="" class="control-label">GraphQL <span class="info">(API)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">REST <span class="info">(API)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">SOAP <span class="info">(API)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">NodeJS <span class="info">(Application Framework)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">MoleculerJS <span class="info">(Application Framework)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Vert.X <span class="info">(Application Framework)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">NestJS <span class="info">(Application Framework)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">ODBC <span class="info">(Data Access)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">MS SQL Server <span class="info">(Databases)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">MongoDB <span class="info">(Databases)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Elastic Search <span class="info">(Databases)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Redis <span class="info">(Databases)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">NodeJS <span class="info">(Languages)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">JavaScript/Typescript <span class="info">(Languages)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">RabbitMQ <span class="info">(Message Queues)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
    </div>
    <!-- Second 15 -->
    <div class="column--md-6">
      <div class="form-group">
        <label for="" class="control-label">Linux <span class="info">(Operating Systems)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Windows Server <span class="info">(Operating Systems)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">API Gateway <span class="info">(Primary Patterns)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">MicroServices <span class="info">(Primary Patterns)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Event Driven Architecture <span class="info">(Primary Patterns)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">SQL <span class="info">(Query Languages)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">MDX <span class="info">(Query Languages)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">OWIN <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">WS-Fed <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">SAML <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">OAuth2 <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Active Directory <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">JWT <span class="info">(Security)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Docker <span class="info">(Virtualisation)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Kubernetes <span class="info">(Orchestration)</span></label>
        <input type="number" class="form-control" value="0" id="" max="5" min="0">
      </div>
    </div>
  </div>
  <!-- .form-group*15>label.control-label[for=""]>span.info^input.form-control.shorten[value="0" id="" type="number" max="5" min="0"] -->
</form>
