
<div class="site-search"></div>      <!-- Must be able to take input via this and display on results page...so a form..? -->

<nav class="navbar"> <!-- IMPORTANT: add the class `navbar-fixed-top` to position it at the top of the window -->

    <!-- Left utility nav -->
    <ul class="nav navbar-nav navbar-left">

      <!-- Desktop menu toggle -->
      <!-- <li class="desktop-menu-toggle hidden-mobile">
        <a href="#" data-toggle="desktop-menu" title="Desktop menu">
          <div class="hidden-closed">Close</div>
          <div class="hidden-opened"></div>
        </a>
      </li> -->

      <li>
        <!-- Company logo -->
        <a class="horizontal-logo" href="#" title="Home">
          <div class="logo-image" title="NTT"></div>
          <div class="logo-title"><span>skills<br>portal</span></div>
        </a>
      </li>
    </ul>

    <!-- Right utility nav -->
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden-mobile">
        <!-- Plain text link -->
        <a href="#" >Home</a>
      </li>
      <!-- Divider -->
      <li role="separator" class="divider hidden-mobile"></li>
      <li>
        <!-- Icon-search button -->
        <a data-toggle="site-search">
          <span class="fa fa-search"></span> Search
        </a>
      </li>
      <!-- Divider -->
      <li role="separator" class="divider hidden-mobile"></li>
      <li class="hidden-mobile">
        <!-- Icon-badge button -->
        <button type="button" class="navbar-btn btn" (click)="goToBooks()">
          <span class="icon-badge">
            <i aria-hidden="true" class="fa fa-bookmark"></i>
            <span class="badge bg-danger">3</span>
          </span>
        </button>
      </li>
      <!-- Divider -->
      <li role="separator" class="divider hidden-mobile"></li>
      <!-- Dropdown menu -->
      <li class="dropdown hidden-mobile">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
          <span class="fa fa-user"></span> Current User <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#"><span class="fa fa-sign-in"></span> Log Out</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-user"></span> Change User</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-gear"></span> Preferences</a>
          </li>
        </ul>
      </li>

      
      
      
      <!-- NOT DONE -->
      
      <!-- Divider -->
      <li role="separator" class="divider hidden-desktop"></li>
      <!-- Mobile menu toggle -->
      <li class="mobile-menu-toggle hidden-desktop" data-toggle="mobile-menu" title="Mobile menu">
        <button type="button" class="navbar-btn btn"><i aria-hidden="true" class="fa fa-bars"></i></button>
      </li>



    </ul>
  </nav>